.up,.down{
    height:45vh;
    width:100%;
    padding:50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    height:35vh;
    width:90%;
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text{
    margin-top: 5%;
    font-size: 6rem;
}