@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.banner-section{
    height:88.5vh;
    width:100%;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../images/loginimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.main-title{
    margin-top: 100px;
    height:600px;
    width:1300px;
    padding:50px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
}
.main-title .topic{
    margin-top: 80px;
    color:white;
    text-align:center;
    font-size:5rem;
    font-family:poppins;
}
.theme-text{
    color:white;
    text-align:center;
    font-size:3rem;
    font-family:poppins;
}
.btn{
    width:250px;
    height:50px;
    font-size: 20px;
    margin:10px;
    font-family: Poppins;
}
.btn1{
    background: transparent;
    border:2px solid white;
}
.btn1:hover{
    background: white;
    color:black;
    border:2px solid white;
}
.btn2{
    background: white;
    border:2px solid white;
    color:black;
    transition: 0.5s;
}
.btn2:hover{
    font-weight: 600;
    border:2px solid white;
    background-color: white;
    color:black;
    letter-spacing: 5px;
}
.appointments{
    margin-top:100px;
}
.section-head{
    position: inherit;
    font-family: poppins;
    margin-bottom: 30px;
    font-weight: 600;
    transition: 0.25s;
    text-shadow: 2px 3px 0px 2px solid black;
}
.section-head:hover{
    position: inherit;
    margin-bottom: 30px;
    font-weight: 800;
}

.section-head::after{
    content:'';
    height:7px;
    border-radius: 20px;
    width:250px;
    background-color: black;
    position: absolute;
    top:1070px;
    left:730px;
    transition: 0.5s ease-in-out;
}
.section-head::before{
    content:'';
    height:7px;
    border-radius: 20px;
    width:250px;
    background-color: black;
    position: absolute;
    top:1070px;
    left:920px;
    transition: 0.5s ease-in-out;
}

.section-head:hover:after{
    left:500px;
    top:1047px;
    width:220px;
}
.section-head:hover:before{
    left:1170px;
    top:1047px;
    width:220px;
}

.card{
    height:40vh;
    width:600px;
    margin:30px;
    margin-bottom: 50px;
}
.display-item{
    display:block;
}